@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
}

body,
html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    color: #232537;
    -webkit-font-smoothing: antialiased;
}

#app,
.page,
.main-content {
    font-family: 'Plus Jakarta Sans', sans-serif;
}